.card{
    background-color:#060B2D ;
    box-shadow: 0 0 15px 5px  #2AA7A7;
    border-radius: 12px 12px 10px 10px ;
    border: none;
    text-transform: uppercase;
    width: 20rem;
    height: 33rem;
}
.cardHeader{
    background:linear-gradient(90deg,#9D20B1,#2AA7A7);
    text-align: center;
    border:2px solid #707070;
    padding: 10px;
}
.cardHeader:first-child{
    border-radius: 10px 10px 0 0 ;
}
.cardBody{
    color: white;
    text-align: center;
    padding: 10px;
    border:3px solid #2AA7A7;
    border-top: none;
    border-radius:  0 0 10px 10px ;
}
.textTitle{
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 23px;
}
.titleContaint{
    width: max-content;
    margin: 0.2rem auto 1rem auto;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0;
}

.cardText{
    font-size: 15px;
}
@media screen and (min-width: 320px) and (max-width: 1246px) {
    .card{
       max-width: 18rem;
        margin: auto;
    }
    .cardImg{
        width: auto;
    }
    .textTitle{
        font-size: 18px;
    }
    .titleContaint{
        font-size: 15px;
    }
    .cardText{
        font-size: 13px;
    }
}