.rowheader{
    margin: 200px auto 100px auto;
}
.textHeader{
    font-size: 20px;
    text-align: center;
}
.Img{

    margin-bottom: -1rem;
}


.rowFotter{
    margin:7rem auto auto auto;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
    .rowheader{
        margin: -5rem  auto;
        padding: 15px;
    }
    .Img{

        width: 95%;
        margin:5rem auto;
    }

    .textHeader{
        margin: auto;
    }
    .rowFotter{
        padding: 15px;
        margin:-3rem auto 3rem auto;
    }
}

