.copy {
    padding-top: 1%;
    padding-bottom: 1%;
    background:linear-gradient(90deg, #254eb1,#7c33d3);
    width: 100%;
    margin: auto;
}
.nameCopy{
    margin-top: 0.5rem;
    color: white;

}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .nameCopy{
    text-align: center;
}}