.Img {
    margin: 5rem auto;
}
.ImgTow{
    width: 90%;
    margin: 5rem auto;
}
.ImgThree{
    margin: 5rem auto;
}
@media screen and (min-width: 320px) and (max-width: 1172px) {
    .textHeaderChild {
        top: 8rem;
        font-size:16px;
        width: min-content;
        margin: auto;
    }
    .ImgThree{
        width: 100%;
        margin: 5rem auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 1246px) {

    .Img {
        width: 95%;
        margin: -10rem auto 3rem auto;
    }
    .ImgTow{
        width: 100%;
        margin: 1rem auto;
    }
    .ImgThree{
        margin: 5rem auto;

    }
}
