.approach {
    padding: 175px 0 100px 0;
    background-image: url('/public/assets/img/HomePage/Group 4.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}
.content-approach {
    text-align:center;
    font-size: 28px;
    position: relative;
    /*top: -100px;*/
    /*letter-spacing: 3.6px;*/
}
.content-approach .text--one{
    font-size:28px;
    color: white;
}
.content-approach .text-tow{
    color: #2AA7A7;
    font-size:63px;
    text-shadow: 50px 2px 50px #2AA7A7;
}
.content-approach .text-three{
    font-size:20px;
}
.content-approach .text--four{
    font-size:14px;
}
.content-approach button{
    color: white;
    /*letter-spacing: 2.4px;*/
    font-size: 17px;
    font-weight: bold;
    background-color: #2AA7A7;
    border: none;
    /*height: 37px;*/
    /*width: 48%;*/
}
@media screen and (min-width: 320px) and (max-width: 1080px) {
    .approach {

        margin-top:23rem;
        background-image: url('/public/assets/img/HomePage/Group 4.png');
        background-position: top center;
        background-size: contain;

    }
    .content-approach {
        top: -23rem;
        margin: auto;


    }
    .content-approach .text--one{

        font-size:16px;
        margin: 1rem auto;
    }
    .content-approach .text-tow{
        font-size:25px;
        margin: 1rem auto;


    }
    .content-approach .text-three{
        font-size:16px;

        margin: 1rem auto;

    }
    .content-approach .text--four{
        font-size:10px;
        margin: 1rem auto;


    }
    .content-approach button{
        position: relative;
        top: -15px;
        font-size: 13.5px;
        margin: auto;
    }

}